[run]
omit =
    */settings/*
    */migrations/*
    */wsgi.py
    */celery.py
    */run.py
    */tasks.py
    */venv/*
    */.vscode/*
    */__init__.py
    manage.py
    seed_data.py
    */flight_email.html
    */flight_email.txt
    locust.py
    